.general {
  font-family:'Chakra Petch', sans-serif;
  background-color: antiquewhite;
  margin: 20px;
  padding: 20px;
}

.cities {
  margin: 20px;
}
.city {
  color:brown;
  padding: 0 40px 0 0;
}

form {
  margin: 0 20px 0 20px;
}

.main-city {
  margin: 0 20px 0 20px;
  padding: 50px 0 50px;
  color:brown; 
}

h2 {
  color:brown;
}

h3 {
  font-weight: normal;
}

.degrees {
  font-size:normal;
  
}

.week-data {
  margin: 0 20px 0 20px;
}

.sun-big-icon {
  color: yellow;
  font-size: 100px;
}

.sun-icon {
  font-size: 20px;
}

