.general {
  font-family:'Chakra Petch', sans-serif;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
}

.weather-block {
  background-color: rgb(189, 233, 248);
  margin-top: 30px;
  margin-bottom: 0;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

form {
  margin: 20px;
  padding: 20px 0 0 0;
}

p:first-letter {
  text-transform: capitalize;
}

.city-info {
  margin-left:20px;
}

.bottom {
  margin-top: 0;
}

.temp {
  font-size: 34px;
}

.clearfix {
  overflow:auto;
}

.temperature .units {
  position: relative;
  font-size: 16px;
  top: -12px;
}

.temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.u-link {
  text-decoration: none;
}

.temperature .active:hover {
  text-decoration: none;
}